* {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding; 0 0 0 0;
}

.header {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 30pt;
  font-weight: lighter;
  text-indent: 15px;
  height: 55px;
  padding: 0 0 0 0;
}

.sidebar {
  background-color: black;
  color: white;
  float: left;
  overflow: hidden;
  margin-right: 40px;
  height: calc(100% - 55px);
  width: 180px;
  text-indent: 15px;
  position: relative;
  font-weight: lighter;
  padding: 0 0 0 0;
}


a {
  text-decoration: none;
  color: inherit;
}

.item {
  text-indent: 15px;
  width: 100%;
  display: block;
  position: relative;
  color: white;
  font-size: 20pt;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: black;
}

.item ul {
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.item li {
  text-align: right;
  list-style-type: none;
  list-style-position: outside;
  font-size: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.item.active {
    background-color: rgb(23, 66, 117);
}

.content {
  width: 800px;
  color: black;
  overflow: auto;
  font-weight: 300;
}

.content p {
  font-size: 13pt;
  text-align: justify;
}

.content a{
    color: rgb(47, 91, 128);
}

.content h1 {
    font-weight: lighter;
}

.content h2 {
    font-weight: lighter;
}

.content h3 {
    font-weight: lighter;
}

.email {
    color: rgb(47, 91, 128);
}

.skilllist {
    list-style-type: square;
}

.skilllist li {
    font-size: 13pt;
}

.skill_heading {
    font-style: normal;
    font-weight: normal;
}
